/.git

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.phpunit.result.cache
.directory

/public/chunks/*
/public/css/*
/public/js/*
/public/front/browser/*
/public/front/server/*
/public/lang/*
/public/fonts/*
/public/images/*
/public/mix-manifest.json
