/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.phpunit.result.cache
.directory
.DS_Store

/supervisord.*

/public/css/*
/public/fonts/*
/public/js/*
/public/images/*
/public/mix-manifest.json
/public/storage
